@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Codystar:wght@300;400&family=Monoton&family=Mozilla+Headline:wght@200..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --color-darkest : #343a40;
  --color-dark : #495057 ;
  --color-medium : #ced4da ; 
  --color-light : #f1f3f5 ;
  --color-theme : #1098ad ; 
  --color-accent : #ffa94d ;
}

body {
  background-color: var(--color-darkest);
  color: var(--color-light);
}

.app-header {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.app-header h1 {
  font-size: 80px;
    font-family: "Codystar", sans-serif;
}


/* ////////// loading  */

/* HTML: <div class="loader"></div> */
.loader {
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  display: inline-grid;
}
.loader:before,
.loader:after {
  content:"Loading...";
  grid-area: 1/1;
  -webkit-mask:linear-gradient(90deg,#000 50%,#0000 0) 0 50%/2ch 100%;
  animation: l11 1s infinite cubic-bezier(0.5,220,0.5,-220);
}
.loader:after {
  -webkit-mask-position:1ch 50%;
  --s:-1;
}
@keyframes l11 {100%{transform: translateY(calc(var(--s,1)*0.1%));}}

.loader-container {
 margin-left: 700px;
}
.loader-container p {
  font-size: 20px;
}

.error {
  
  width: 30%;
  text-align: center;
  padding: 10px 40px;
  border-radius: 20px;
  background-color: var(--color-dark);
  margin: 20px auto;
}

.start {
  width: 40%;
  text-align: center;
  margin: 20px auto;
}
.start h2 {
  font-size: 40px;
}
.start h3 {
  font-size: 25px;
  margin-bottom: 50px;
}
.start button {
  background-color: var(--color-dark);
  color: var(--color-light);
  border: transparent;
  padding: 15px;
  font-weight: 700;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  
}

.question-container {
 
  width: 40%;
  text-align: center;
  margin: 20px auto;

}

.options {
  display: flex;
  flex-direction: column;

}

.btn-option {
  background-color: var(--color-dark);
  color: var(--color-light);
    margin: 10px 0px;
    border: none;
    padding: 10px;
    text-align: start;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s;
}
.btn-option:hover {
  background-color: var(--color-darkest);
  border: solid 1px white;
  transform: scale(1.1,1.1);
  font-weight: 800;
}

.question-container h4 {
  font-size: 20px;
  letter-spacing: 1px;
}

.answer{
 margin-left: 40px;
}

.correct {
 background-color: var(--color-theme);
}
.wrong {
background-color: var(--color-accent);
}

main {
  position: relative;
}
.next-btn {
 position: absolute;
 right: 400px;
 background-color: var(--color-dark);
 color: var(--color-light);
 border: none;
 padding: 10px 15px;
 font-weight: 900;
 border-radius: 10px;
 cursor: pointer;


}

